.bookNowButton {
  color: black;
  background-color: #fcaf3b;
  border-radius: 3px;
  border-color: #fcaf3b;

  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 100px;
  height: 30px;
  margin: auto;
}

#nav {
  height: 80px;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  max-height: 100px;
  display: flex;
}

#nav img {
  padding-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  width: 60px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-section {
  padding-bottom: 20px;
}

#nav h3 {
  position: absolute;
  right: 20%;
  top: 0%;
  bottom: 0%;

  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.88);

  text-decoration: underline;
  text-decoration-color: #fcaf3b;
}

#userIcon {
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
}

#quickBook {
  background-color: #d9d9d9;
  width: 100%;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 25px;
  display: inline-flex;
}

.carouselBG {
  background-color: black;
}

#posterCarousel {
  height: 400px;
  max-height: 400px;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  margin: auto;
}

#posterCarousel #leftArrow {
  position: absolute;
  left: 7%;
  top: 350px;
  height: 40px;
}

#posterCarousel img:hover {
  cursor: pointer;
}

#posterCarousel #rightArrow {
  position: absolute;
  right: 7%;
  top: 350px;
  height: 40px;
}

#moviePosterTrio {
  background-color: #d9d9d9;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

.trioPoster {
  margin-top: auto;
  margin-bottom: auto;
  height: 434px;
  width: 289px;
  background-size: 100% 100%;
  padding: 10px;
}

.container {
  position: relative;
  background-color: white;
  color: black;
  top: 280px;
  padding-bottom: 10px;
  border-radius: 12px;
}

.container h4 {
  padding: 10px;
  padding-top: 10px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

#movieFormContainer {
  margin: auto;
  padding-top: 100px;
}

/* table {
  margin: auto;
  justify-content: auto;
  font-family: "Roboto Flex";
} */

/* input {
  width: 300px;
} */

#loginFormContainer {
  margin: auto;
  padding-top: 100px;
}

#adminMoviesContainer {
  margin: auto;
  padding-top: 100px;
}

#footer {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  bottom: 0px;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-color: #fcaf3b;
}

.movieInfoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
.movieInfoContainer img {
  height: 300px;
  padding-right: 100px;
}

.rating12A {
  width: 50px;
  height: 50px;
  background-color: red;
  text-align: center;
  vertical-align: center;
  border-radius: 25px;
  padding-top: 12px;
  font-weight: bold;
}

.ratingPG {
  width: 50px;
  height: 50px;
  background-color: green;
  text-align: center;
  vertical-align: center;
  border-radius: 25px;
  padding-top: 12px;
  font-weight: bold;
  color: white;
}

/* .pickYourSeats {
  text-align: center;
} */
