.seat {
  background-color: red;
  width: 100%;
  height: auto;
  max-width: 50px; /* Add a max-width value to control the size of the seats */
  max-height: 50px; /* Add a max-height value to control the size of the seats */
}

/* Additional style */
.screenSeatGenTable svg {
  width: 100%;
  height: auto;
}

.seat:hover {
  cursor: pointer;
}

.screenSeatGenTable {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
}

.screenSeatGenRow {
  display: flex;
  justify-content: center;
}

.screenSeatGenCell {
  flex: 1;
  max-width: 100px; /* Adjust this value based on your desired cell width */
  padding: 5px;
  text-align: center;
}

.seatGeneratorParent{
  display: inline;
  flex-wrap: wrap;
}

.seatGeneratorTop{
  padding-top: 20px;
  text-align: center;
  flex-wrap: wrap;
}

input{
  width: 50px;
}

label{
  margin: 20px
}

h1{
  color: black;
  text-decoration: underline;
  text-decoration-color: #fcaf3b;
}