.seat {
  background-color: red;
  height: 50px;
  width: 50px;
  margin: 10px;
  display: inline-block;
}

.seat:hover {
  cursor: url("../../images/admission-tickets-svgrepo-com.svg"), auto;
}

.row {
  margin: 10px;
}
