.seat {
  background-color: red;
  width: 100%;
  height: auto;
  max-width: 50px; /* Add a max-width value to control the size of the seats */
  max-height: 50px; /* Add a max-height value to control the size of the seats */
}

/* Additional style */
.seatPickerTable svg {
  width: 100%;
  height: auto;
}

.seat:hover {
  cursor: pointer;
}

.seatPickerTable {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
}

.seatPickerRow {
  display: flex;
  justify-content: center;
}

.seatPickerCell {
  flex: 1;
  max-width: 100px; /* Adjust this value based on your desired cell width */
  padding: 5px;
  text-align: center;
}

.pickYourSeats {
  display: flex;
  justify-content: center;
}

.seatPickerContainer{
  width: 100%;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  margin: 30px;
}

.pickerLeftSide{
  padding-right: 100px;
  text-align: left;
}
  .seatsSelectedCount{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .prices td{
    width: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }
  .pricesTotal td{
    width: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  .seatPickerContainer button{
    margin-top: 20px;
    width: 100%
  }
  .leftSideLine{
    background-color: black;
    height: 2px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }

.pickerRightSide{
 
}
  .screen{
    width: 100%;
    background-color: black;
    height: 20px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: white;

  }