.seat {
  background-color: red;
  width: 100%;
  height: auto;
  max-width: 50px; /* Add a max-width value to control the size of the seats */
  max-height: 50px; /* Add a max-height value to control the size of the seats */
}

/* Additional style */
.screenViewerTable svg {
  width: 100%;
  height: auto;
}

.seat:hover {
  cursor: pointer;
}

.screenViewerTable {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
}

.screenViewerrRow {
  display: flex;
  justify-content: center;
}

.screenViewerCell {
  flex: 1;
  max-width: 100px; /* Adjust this value based on your desired cell width */
  padding: 5px;
  text-align: center;
}
