* {
  box-sizing: border-box;
}

/* Slideshow container */
.carouselContainer {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.leftSide{
  left: -25%;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 60px;
  letter-spacing: -0.5px;
  padding: 8px 12px;
  position: absolute;
  padding-top: 300px;
  width: 100vw;
  text-align: left;
  left: 12%;
}

.movieInfo{
  color: #c4c4c4;
  font-size: 15px;
  font-weight:lighter;
  letter-spacing: -0.5px;
  padding: 8px 12px;
  position: absolute;
  width: 100vw;
  text-align: left;
  left: 12%;
  padding-top: 380px;
  display: flex;
  vertical-align: middle;
  line-height: 30px;

}

.trailerBtn{
  color: #d9d9d9;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 3px;
  border-style: none;

  font-style: bold;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 100px;
  height: 30px;
  margin: auto;

  position: absolute;
  left: 12%;
  margin-top: 430px;
  margin-left: 130px;
}

.bookBtn{
  color: black;
  background-color: #fcaf3b;
  border-radius: 3px;
  border-style: none;

  font-style: bold;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 100px;
  height: 30px;
  margin: auto;

  position: absolute;
  left: 12%;

  margin-top: 430px;
  margin-left: 10px;

}



.arrow:hover {
  cursor: pointer;
}



/* this is for the parallax */
.carouselBG{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}